@inject IHostEnvironment hostEnvironment
@{
    DateTime startsAt = DateTime.Now;
}

@{
    string AppName = "iTeo.space";
    int NavBarLogoSIze = 46;
    bool SideBarEnabled = true;

}
@{
    SideBar SideBar = new("Bootstrap");

    SideBar
        .AddSubmenu("Text").SetShow()
        .Addlink("Text", "/Bootstrap/Text/Index")
        .Addlink("Links", "/Bootstrap/Text/Links")
        .Addlink("TextColor", "/Bootstrap/Text/TextColor")
        .Addlink("LayoutTest", "/Bootstrap/Text/LayoutTest")
        .Addlink("icons", "/Bootstrap/Text/icons")
        ;

    SideBar
    .AddSubmenu("NavBars").SetShow()
    .Addlink("Navs", "/Bootstrap/Navs/Navs")
    .Addlink("NavBar1", "/Bootstrap/Navs/NavBar1")
    ;

    SideBar
    .AddSubmenu("Forms")//.SetShow()
    .Addlink("Forms1", "/Bootstrap/Forms/Forms1")
    .Addlink("Forms2", "/Bootstrap/Forms/Forms2")
    .Addlink("Forms3", "/Bootstrap/Forms/Forms3")
    .Addlink("FormsRange", "/Bootstrap/Forms/FormsRange")
    .Addlink("FormsLists", "/Bootstrap/Forms/FormsLists")
    .Addlink("FormsCheckbox", "/Bootstrap/Forms/FormsCheckbox")

    ;

    SideBar
    .AddSubmenu("Elements")//.SetShow()
    .Addlink("Card", "/Bootstrap/Elements/Card")
    .Addlink("Breadcrumb", "/Bootstrap/Elements/Breadcrumb")
    .Addlink("Accordion", "/Bootstrap/Elements/Accordion")
    .Addlink("Alerts", "/Bootstrap/Elements/Alerts")
    .Addlink("ListGroup", "/Bootstrap/Elements/ListGroup")
    .Addlink("DropDowns", "/Bootstrap/Elements/DropDowns")
    .Addlink("Pagination", "/Bootstrap/Elements/Pagination")
    ;


    SideBar
        .AddSubmenu("Table").SetShow()
        .Addlink("Table", "/Bootstrap/Tables/Table")
        .Addlink("TablePagination", "/Bootstrap/Tables/TablePagination")
        .Addlink("TableScrollableBody", "/Bootstrap/Tables/TableScrollableBody")
        ;


    SideBar
        .AddSubmenu("Colors").SetShow()
        .Addlink("Colors", "/Bootstrap/Colors")
      ;


}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Site">
    <title>@AppName</title>
     <link rel="icon" href="/logo.png">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Net.Pf.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Colors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/TextStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" />

    <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

</head>



<body class="mh-100 h-100 w-100 mw-100 overflow-hidden">


    <header class="sticky-top">
        <nav class="container-fluid navbar navbar-expand-sm navbar-toggleable-sm
                navbar-dark bg-dark text-light shadow border-dark border-bottom p-1 mb-3">

            <div class="container-fluid">

                <div class="row justify-content-start pt-1 pb-1 ps-3 pe-4">
                    <a class="navbar-brand  col m-0 p-0" asp-area="" asp-page="/Index">
                        <img src="/logo.png" width=@NavBarLogoSIze height=@NavBarLogoSIze class="d-inline-block align-top m-0 p-0" alt="">
                    </a>
                </div>

                <a class="navbar-brand" asp-area="" asp-page="/Index">@AppName</a>

                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>



                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link navbar-text" asp-area="" asp-page="/AdminPanel/Index">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Bootstrap/Index">Bootstrap</a>
                        </li>
                    </ul>

                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link navbar-text" asp-area="" asp-page="/Forums/Index">Forums</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link navbar-text" asp-area="" asp-page="/HelpDesk/Index">HelpDesk</a>
                        </li>
                    </ul>

                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <partial name="_LoginPartial" />
                </div>


            </div>

        </nav>

    </header>


    <!-------------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------->
    <!--Spacing Container-->
    <div class="container-fluid mt-3 ml-0">

        <!--Position Container-->
        <div class="d-flex flex-row position-static border-1 border-dark">

            @if (SideBarEnabled)
            {
                <!--Sidebar     border border-1 border-dark -->
                <div class="col-sm-2">
                    <nav class="nav position-fixed overflow-hidden col-sm-2  bg-light" style="max-height:86vh;">
                        <div class="container-fluid overflow-scroll h-100 vh-100 mh-100 p-2">

                            <h3>@SideBar.Name</h3>

                            @foreach (var subMenu in SideBar.SubMenus())
                            {
                                var GeneratedId = $"{subMenu.GetHashCode()}";

                                <div class="accordion  bg-light" id="SubmenuContainer_@GeneratedId">

                                    <div class="accordion-item bg-light border-0">

                                        <h2 class="accordion-header"
                                    id="SubmenuHeading_@GeneratedId">
                                            <button class="accordion-button bg-light text-black font-monospace "
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#SubmenuCollapse_@GeneratedId"
                                            aria-expanded="true"
                                            aria-controls="SubmenuCollapse @GeneratedId">
                                                @subMenu.Name
                                            </button>
                                        </h2>

                                        <div id="SubmenuCollapse_@GeneratedId"
                                     class="accordion-collapse collapse @(subMenu.Show ? "show" : "")"
                                     aria-labelledby="SubmenuHeading_@GeneratedId"
                                     data-bs-parent="#SubmenuContainer_@GeneratedId">
                                            <div class="accordion-body">
                                                <ul class="flex-grow-1 text-dark">
                                                    @foreach (var link in subMenu.GetLinks())
                                                    {
                                                        <li class="nav-item">
                                                            <a class="text-dark text-decoration-none" asp-area="" asp-page="@link.Url">@link.Name</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                            <div class="container-fluid h-25">
                            </div>

                        </div>
                    </nav>


                </div>

            }

            <div class="@(SideBarEnabled ? "col-sm-10" : "col-sm-12") no-guttersrow overflow-auto ">

                <div class="overflow-auto  m-1" style="height:85vh; width:166vh;">
                    <main>
                        <!--<div class="container-fluid m-2" style="max-height:84vh; max-width:164vh;">-->
                        <div class="container-fluid">
                            @RenderBody()
                            <div style="height:5vh;"/>
                        </div>
                    </main>

                </div>

            </div>



        </div>


    </div>

    <!-------------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------->
    @{
        string year = DateTime.Now.Year != 2023 ? @DateTime.Now.Year.ToString() : string.Empty;
    }

    <footer class="border-top fixed-bottom bg-light">
        <div class="container-fluid row ">
            <div class="col justify-content-start text-muted text-secondary font-Tangerine-20">
                &copy; 2023 @year - Teo
            </div>
            <div class="col col-1 offset-6 justify-content-end text-muted text-secondary font-Tangerine-20">
                @((DateTime.Now - startsAt).TotalMicroseconds) m/s
            </div>
        </div>
    </footer>
    <!-------------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Scripts.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>