@page
@model Net.Pf.Pages.AdminPanel.Users.IndexModel
@{
}



<h3>Users:</h3>

<table class="table table-bordered table-striped table-hover">

    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Detailing</th>
            <th scope="col">Add Claims</th>
            <th scope="col">Delete Claims</th>
        </tr>
    </thead>

    <tbody>
        @for (int i = 0; i < @Model.OnGetUsers.Count; i++)
        {
            var row = @Model.OnGetUsers[i];

            <tr>
                <th scope="row">@i</th>
                <td>@row.UserName</td>

                <td><a asp-page="/AdminPanel/Users/Profile" asp-route-UserId=@row.Id target="_blank">Detailing</a></td>

                <td>

                    <div class="dropdown">

                        <button class="btn btn-primary dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Add Claims
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            @foreach (var claim in Enum.GetNames(typeof(UserClaims)).Where(x => x != UserClaims.Administrator.ToString()).ToList())
                            {
                                <li>
                                    <a class="dropdown-item"
                               asp-page="/AdminPanel/Users/ClaimsAdd"
                               asp-page-handler="AddClaim"
                               asp-route-UserId="@row.Id"
                               asp-route-userClaims="@claim"
                               asp-route-returnUrl="@Model.Request.Path">@claim</a>
                                </li>
                            }
                        </ul>

                    </div>

                </td>

                <td>

                    <div class="dropdown">

                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Delete Claims</button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            @foreach (var claim in Enum.GetNames(typeof(UserClaims)).Where(x => x != UserClaims.Administrator.ToString()).ToList())
                            {
                                <li>
                                    <a class="dropdown-item"
                               asp-page="/AdminPanel/Users/ClaimsDelete"
                               asp-page-handler="DeleteClaim"
                               asp-route-UserId="@row.Id"
                               asp-route-userClaims="@claim"
                               asp-route-returnUrl="@Model.Request.Path">@claim</a>
                                </li>
                            }
                        </ul>

                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

