@page
@model Net.Pf.Pages.Bootstrap.Tables.TableScrollableBodyModel
@{
}

<h3>TableName</h3>

<div class="overflow-auto" style="max-height:78vh; max-width:250vh;">

    <table class="table caption-top table-bordered table-hover table-striped table-responsive" style="line-height: 0.7">

        <thead class="table-dark" style="position: sticky;top: 0">
            <tr>
                <th scope="col">#</th>
                @foreach (DataColumn column in @Model.dataTable.Columns)
                {
                    <th scope="col">@column.ToString()</th>
                }
            </tr>
        </thead>



        <tbody>
            @for (int i = 0; i < @Model.dataTable.Rows.Count; i++)
            {
                var row = @Model.dataTable.Rows[i];
                <tr>
                    <th scope="row">@i</th>
                    @foreach (DataColumn column in @Model.dataTable.Columns)
                    {

                        <td>@row[column]</td>

                    }
                </tr>
            }

        </tbody>

    </table>
</div>













