@page
@model Net.Pf.Pages.Bootstrap.Tables.TableModel


<h3>TableName</h3>
<table class="table caption-top table-bordered table-hover table-striped table-responsive" style="line-height: 0.7">

    <thead class="table-dark" style="position: sticky;top: 0">
        <tr>
            <th scope="col">#</th>
            @foreach (DataColumn column in @Model.dataTable.Columns)
            {
                <th scope="col">@column.ToString()</th>
            }
        </tr>
    </thead>



    <tbody style="max-height:30vh;">
        @for (int i = 0; i < @Model.dataTable.Rows.Count; i++)
        {
            var row = @Model.dataTable.Rows[i];
            <tr>
                <th scope="row">@i</th>
                @foreach (DataColumn column in @Model.dataTable.Columns)
                {

                    <td>@row[column]</td>

                }
            </tr>
        }

    </tbody>

</table>
