@page
@model Net.Pf.Pages.Forum.ForumPostsModel


<div class="container">

	<div class="row  ms-3 me-3">
		<div class="col">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a asp-page="/Forum/Index">Home</a></li>

					<li class="breadcrumb-item">
						<a asp-page="/Forum/ForumTopics" asp-route-ForumForkId="@Model?.forumTopic?.ForumForkId">Topics</a>
					</li>

					<li class="breadcrumb-item active">
						@Model?.forumTopic?.Name (@Model?.Posts.Count())
					</li>

				</ol>
			</nav>
		</div>
	</div>



	@if (@Model?.Posts.Count() > 0)
	{
		<div class="row">

			@foreach (var post in @Model.Posts)
			{
				<div class="row m-1" style="min-height:12vh;">

					<div class="col col-sm-3 m-1 bg-white rounded">
						<div class="row m-2 overflow-hidden">
							@post.CreatorUserName
						</div>
						<div class="row m-2">
							ToDO: additional info
						</div>
					</div>

					<div class="col m-1 bg-white rounded">
						<div class="row m-1">
							<small>At: @post.addedAt</small>
						</div>
						<div class="row m-1 text-muted font-monospace">
							<span>@post.Text</span>
						</div>
					</div>
					<div class="col col-sm-1 m-1 bg-white rounded">
						<div class="row m-1">
							<small>AdminOnly</small>
						</div>
						<div class="row m-1">
							<small>Delete</small>
						</div>
					</div>

				</div>

			}

		</div>
	}



	<div class="row">

		<div class="row text-center">
			<h3>Ответ</h3>
		</div>

		<form class="form-group" method="post" asp-antiforgery="true">

			<input type="text" asp-for="createPostCommand.TopicId" value="@(Model?.createPostCommand?.TopicId ?? Model?.ForumTopicId)" hidden>

			<div class="form-group m-2">
				<label asp-for="createPostCommand.Text">Ответить</label>
				<span asp-validation-for="createPostCommand.Text" class="text-danger"></span>

				<textarea class="form-control" rows="5" asp-for="createPostCommand.Text">
					@(Model?.createPostCommand?.Text ?? "")
				</textarea>
			</div>

			<div class="form-group m-2">
				<input type="submit" value="Отправить ответ" />
			</div>

		</form>

	</div>



</div>

















